<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Chart.js import-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

        <title>Inverse ARKK Home</title>
    </head>

    <body>
        <header>
            <div class="head1">
                  Inverse ARKK
            </div>

            <div class="head2">
                  What if you took the opposite trades of Cathie Woods?
            </div>
        </header>

        <main>
            <!--https://towardsdatascience.com/do-this-to-make-your-website-interactive-in-minutes-c11b7495d088-->
            
            <div class="card mb-3">
                <div class="card-header">
                  World population growth rate (%)
                </div>
                <div class="card-body">
                  <canvas id="equity"></canvas>
                </div>
              </div>
        </main>

        <!--Script for page-->
        <script src="src/equity.js"></script>
    </body>

</html>